{
  "branches": ["main", { "name": "beta", "prerelease": true }],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", { "changelogFile": "CHANGELOG.md" }],
    "@semantic-release/npm",
    ["@semantic-release/git", { "assets": ["CHANGELOG.md", "hacs.json", "package.json"], "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}" }],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "dist/kb-alert-badge.js", "label": "kb-alert-badge.js" },
          { "path": "dist/kb-alert-badge.js.map", "label": "kb-alert-badge.js.map" }
        ]
      }
    ]
  ]
}

